section(class="room-details")
    h2(class="room-details__title") 
        | Сведения о номере
    ul(class="room-details__list")
        li(class="room-details__item")
            img(
                class="room-details__image", 
                src="./images/details-smile-face-icon.svg", 
                alt="smile face"
            )
            div(class="room-details__block")
                p(class="room-details__type") Комфорт
                p(class="room-details__text") Шумопоглощающие стены
        li(class="room-details__item")
            img(
                class="room-details__image", 
                src="./images/details-factory-icon.svg", 
                alt="smile face"
            )
            div(class="room-details__block")
                p(class="room-details__type") Удобство
                p(class="room-details__text") Окно в каждой спальне
        li(class="room-details__item")
            img(
                class="room-details__image", 
                src="./images/details-fire-icon.svg", 
                alt="smile face"
            )
            div(class="room-details__block")
                p(class="room-details__type") Уют
                p(class="room-details__text") Номер оснащён камином