include ../counter/counter.pug

ul(class="dropdown_hide")
    each item in ['Взрослые', 'Дети', 'Младенцы']
        li(class="")
            span(class="title-h3") #{item}
            +counter()
    li
        div(class="")
            button(class="button-cleare_hide",
                type="button", 
                data-count="clear"
            ) очистить
            button(class="", 
                type="button", 
                data-count="apply"
            ) применить