include ../counter/counter.pug

mixin select(mrg = "mrg-top-20")
    div(class="select-wrapper")
        label(class=`label ${mrg}`, for="select-guests") Гости
        input(class="input-select input_hover", 
            id="select-guests", 
            type="text", 
            data-dropdown="dropdown", 
            placeholder="Сколько гостей",
            readonly
        )
        ul(class="guest-list dropdown_hide")
            each item in ['Взрослые', 'Дети', 'Младенцы']
                li(class="guest-list__item")
                    span(class="guest-list__category") #{item}
                    +counter()
            li(class="guest-list__buttons")
                button(class="button-clear button-clear_hide",
                    type="button", 
                    data-count="clear"
                ) очистить
                button(class="button-apply", 
                    type="button", 
                    data-count="apply"
                ) применить