section(class="commentarys")
    div(class="commentarys__header")
        h2(class="commentarys__title title-h2") Отзывы посетителей номера
        p(class="commentarys__text text") 2 отзыва
    ul(class="commentarys__list")
        li(class="comment mrg-top-20")
            div(class="user mrg-right-10")
                img(class="user__avatar", 
                    src="./images/details-avatar-male.png", 
                    alt="Photo", 
                    title="Мурад Сарафанов"
                )
                button(class="button-like_on mrg-top-10") 12
            div(class="comment__body")
                p(class="user__details text")
                    span(class="user__name text_active") Мурад Сарафанов
                    span(class="user__visit") 5 дней назад
                blockquote(class="callback mrg-top-10")
                    p(class="callback__text text ")
                        | Великолепный матрас на кровати в основной спальне! 
                        | А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. 
                        | Выкрикивал комплименты повару — никто не жаловался из соседей.
        li(class="comment mrg-top-20")
            div(class="user mrg-right-10")
                img(class="user__avatar", 
                    src="./images/details-avatar-female.png", 
                    alt="Photo", 
                    title="Патрисия Стёклышева"
                )
                button(class="button-like_off mrg-top-10") 2
            div(class="comment__body")
                p(class="user__details text")
                    span(class="user__name text_active") Патрисия Стёклышева
                    span(class="user__visit") Неделю назад
                blockquote(class="callback mrg-top-10")
                    p(class="callback__text text")
                        | Обслуживание на высоте! Всё аккуратно, чисто. 
                        | Завтраки в номер советую заказать, 
                        | каждый день новое блюдо и десерт как комплимент