mixin slider()
    span(
        class="slide slide_off", 
        data-slider="slider",
        data-value="false"
    )
        span(
            class="slide__element slide__element_off", 
            data-slider="slider-element"
        )
