div(class="room-details")
    h2(class="title-h2") 
        | Сведения о номере
    ul(class="room-details__list")
        li(class="room-details__item")
            img(class="room-details__image", 
                src="./images/details-smile-face-icon.svg", 
                alt="smile face"
            )
            div(class="room-details__text")
                p(class="text-active") Комфорт
                p(class="text") Шумопоглощающие стены
        li(class="room-details__item")
            img(class="room-details__image", 
                src="./images/details-factory-icon.svg", 
                alt="smile face"
            )
            div(class="room-details__text")
                p(class="text-active") Удобство
                p(class="text") Окно в каждой спальне
        li(class="room-details__item")
            img(class="room-details__image", 
                src="./images/details-fire-icon.svg", 
                alt="smile face"
            )
            div(class="room-details__text")
                p(class="text-active") Уют
                p(class="text") Номер оснащён камином