//- chamber [колличество звёзд], отзывы, номер комнаты, тип комнаты(люкс), цена, путь до картинки 
mixin chamber(numberStars, callbackCount, numberInt, numberType, numberCost, src)
    div(class="chamber")
        img(class="chamber__image", 
            src=`${src}`, 
            alt="Фото номера", 
            width="200px", 
            height="150px"
        )
        div(class="chamber__info")
            div(class="chamber__description")
                p(class="number")
                    span(class="number__sign") № 
                    span(class="number__int title-h2") #{numberInt}
                    span(class="number__text text_purple") #{numberType}
                p(class="cost")
                    span(class="cost__int text_active") #{numberCost}₽ 
                    span(class="cost__text text") в сутки
            div(class="chamber__callback")
                ul(class="stars-list")
                    each star in numberStars
                        li(class=`${star}`)
                p(class="callbacks")
                    span(class="callbacks__num text_active") #{callbackCount}
                    span(class="callbacks__text text") Отзывов