extends ../layout/layout.pug

//- INCLUDES
include ../includes/intelligence/intelligence.pug
include ../includes/comment/comment.pug
include ../includes/bullet-list/bullet-list.pug
include ../includes/card-room-info/card-room-info.pug

block head
    head
        meta(charset="UTF-8")
        title Details page
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="numbers, details")
        meta(name="description", content="The page contents details about hotel number, comments and callbacks")
        link(rel="shortcut icon", href="../images/favicon.ico", type="image/x-icon")

block content
    main(class="details")
        div(class="details__images")
            img(class="details__images_left", 
                src="./images/details-first-photo.jpg",
                width="981", 
                height="485", 
                alt="Фото номера"
            )
            img(class="details__images_top-right", 
                src="./images/details-second-photo.jpg", 
                width="461", 
                height="243", 
                alt="Фото номера"
            )
            img(class="details__images_bottom-right", 
                src="./images/details-third-photo.jpg",
                width="461", 
                height="243",  
                alt="Фото номера"
            )
        div(class="details__columns container")
            div(class="details__info")
                div(class="details__row-top")

                    //- INTELLIGENCE
                    section(class="info details__intelligence")
                        h2(class="info__title") Сведения о номере
                        ul(class="intelligence info__content")
                            +intelligenceItem('Комфорт', 'Шумопоглощающие стены', 'smile')
                            +intelligenceItem('Удобство', 'Окно в каждой из спален', 'build')
                            +intelligenceItem('Уют', 'Номер оснащён камином', 'fire')
                    
                    //- IMPRESSION
                    section(class="info details__impression")
                        h2(class="info__title") Впечатления от номера
                        div(class="impression info__content")
                            div(class="diagram impression__diagram ")
                                p(class="diagram__count") 260
                                p(class="diagram__voices") Голосов
                            ul(class="impression__list")
                                li(class="impression__item") Великолепно
                                li(class="impression__item") Хорошо
                                li(class="impression__item") Удовлетварительно
                                li(class="impression__item") Разочарован
                div(class="details__row-middle")

                    //- COMMENTS
                    section(class="info")
                        h2(class="info__title info__comments") Отзывы посетителей номера
                            span(class="info__comments-count") 2 отзыва
                        +commentMale('info__content')
                        +commentFemale('info__content')
                div(class="details__row-bottom")

                    //- RULES
                    section(class="info")
                        h2(class="info__title info__title_mrg-l") Правила
                        +bulletList('info__content')

                    //- CANCEL
                    section(class="info details__cancel")
                        h2(class="info__title") Отмена
                        p(class="info__content cancel")
                            | Бесплатная отмена в течение 48 ч. 
                            | После этого при отмене не позднее чем за 5 дн. 
                            | до прибытия вы получите полный возврат за вычетом сбора за услуги.
            div(class="details__card")
                +cardInfo('details__card-info')