extends ../layout/layout.pug

block head
    head
        meta(charset="UTF-8")
        title Поиск номеров
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="Поиск номеров, подобрать номера")
        meta(name="description", content="Здесь Вы сможете подобрать номер на любой вкус")

block content
    main(class="main index-page")
        div(class="main__inner container")
            section(class="card")
                h1(class="title-h1")
                    | Найдём номера под ваши пожелания
                form(class="form", method="POST", name="selection", id="selection")
                    div(class="calendar-wrapper mrg-top-20")
                        label(class="label", for="arrival")
                            | прибытие
                            input(class="input-calendar input_hover", 
                                id="arrival", 
                                type="text", 
                                name="arrival", 
                                placeholder="ДД.ММ.ГГГГ", 
                                readonly
                            )
                        label(class="label", for="departure")
                            | выезд
                            input(class="input-calendar input_hover", 
                                id="departure", 
                                type="text", 
                                name="departure", 
                                placeholder="ДД.ММ.ГГГГ", 
                                readonly
                            )
                        include ../includes/calendar/calendar.pug
                    label(class="label mrg-top-20", for="select-guests") 
                        | Гости
                    input(
                        class="input-select input_hover", 
                        id="select-guests", 
                        type="text", 
                        data-dropdown="dropdown", 
                        placeholder="Сколько гостей",
                        readonly
                    )
                    include ../includes/select/select.pug
                    a(class="button-form-large mrg-top-30")
                        | подобрать номер
            p(class="main__text text")
                | Лучшие номера для вашей работы, отдыха и просто вдохновения