extends ../layout/layout.pug

block head
    head
        meta(charset="UTF-8")
        title title
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content="")
        meta(name="description", content="")

block content
    main(class="main")
        div(class="main__inner container")
            div(class="col-images")
                div(class="main-image")
                    img(class="room-photo", 
                        src="./images/details-first-photo.jpg", 
                        alt="main image room", 
                        width="981px", 
                        height="485"
                    )
                div(class="stack-image")
                    img(class="room-photo", 
                        src="./images/details-second-photo.jpg", 
                        alt="column image room", 
                        width="461px", 
                        height="243"
                    )
                    img(class="room-photo", 
                        src="./images/details-third-photo.jpg", 
                        alt="column image room", 
                        width="461px", 
                        height="243"
                    )
            div(class="col-description")
                div(class="left-sub-col")
                    div(class="block-wrapper-top ")
                        include ../components/details-rooms-info/details-rooms-info.pug
                        include ../components/details-rooms-impression/details-rooms-impression.pug
                    div(class="block-wrapper-middle")
                        div(class="room-callbacks") 3
                    div(class="block-wrapper-bottom")
                        div(class="room-rules") 4
                        div(class="room-previous") 5
                div(class="right-sub-col")