extends ../layout/layout.pug
include ../includes/slider/slider.pug

block head
    head
        meta(charset="UTF-8")
        title Регистрация
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="keywords", content=`регистрация, уже есть аккаунт на Toxin, Toxin`)
        meta(name="description", content="Регистрация на сайте по броированию номеров, быстро и удобно.")

block content
    main(class="main registration-scrin")
        div(class="main__inner container")
            section(class="card registration-card")
                div(class="card__inner")
                    div(class="card__title")
                        h1(class="title-h1")
                            | Регистрация аккаунта
                    form(class="card__form form", action="POST")
                        label(class="label label_opacity-0", for="firstName") Имя
                        input(class="input input-geometry input-margin-20 input_hover", 
                            id="firstName", 
                            type="text", 
                            placeholder="Имя"
                        )
                        label(class="label label_opacity-0", for="lastName") Фамилия
                        input(class="input input-geometry input-margin-10 input_hover", 
                            id="lastName", 
                            type="text", 
                            placeholder="Фамилия"
                        )
                        //- RADIO
                        div(class="radio-buttons input-margin-10")
                            div(class="radio-button")
                                input(class="input-radio", 
                                    type="radio", 
                                    id="male", 
                                    name="sex", 
                                    value="male", 
                                    checked
                                )
                                label(class="text label-radio", for="male") Мужчина
                            div(class="radio-button")
                                input(class="input-radio", 
                                    type="radio", 
                                    id="female", 
                                    name="sex", 
                                    value="female"
                                )
                                label(class="text label-radio", for="female") Женщина
                        //- BIRTHDAY
                        label(class="label label-margin-20", for="birthdayDay") Дата рождения
                        input(class="input input-geometry input_hover", 
                            id="birthdayDay", 
                            type="text", 
                            placeholder="ДД.ММ.ГГГГ"
                        )
                        //- lOGIN DATA
                        label(class="label label-margin-20", for="loginFirstName") Данные для входа в сервис
                        input(class="input input-geometry input_hover", 
                            id="loginFirstName", 
                            type="text", 
                            placeholder="Имя"
                        )
                        label(class="label label_opacity-0", for="LoginLastName") Фамилия
                        input(class="input input-geometry input-margin-10 input_hover", 
                            id="LoginLastName", 
                            type="text", 
                            placeholder="Фамилия"
                        )
                        //- SLIDER
                        div(class="form-text text")
                            +slider()
                            span(class="form-text__margin") Получать спецпредложения
                        button(class="form__button button-go-pay", type="submit")
                            | Перейти к оплате
                        div(class="block-login")
                            p(class="account-text") Уже есть аккаунт на Toxin
                            a(class="account-in", href="./login.html") Войти