mixin checkbox(id, name, classLabel = "", classInput = "")
    input(class=`checkbox ${classInput}`, type="checkbox", name=`${name}`, id=`${id}`)
    label(class=`label-checkbox ${classLabel}`, for=`${id}`)