block variables
    - var labelClass = 'label label-geometry' 
    - var inputClass = 'dropdown dropdown-geometry'
    - var listClass = 'dropdown-list'
    - var itemClass = 'dropdown-item'

    - var placeholder = 'Value'
    - var label = 'Label'

    - var inputId = 'dropdown'
    - var i = 0

mixin dropdown()
    label(class=`${labelClass}` for=`${inputId}`) #{label}
    input(
        class=`${inputClass}`, 
        value=`${placeholder}`,
        id=`${inputId}`
        data-dropdown="dropdown",
        type="text",
        readonly,
    )
    ul(class=`${listClass} dropdown_hide`)
        while i < 4
            li(data-value= i class=`${itemClass}`)= i++

+dropdown()