mixin calendar(mrg = "mrg-top-20")
    div(class=`calendar-wrapper ${mrg}`)
        label(class="label", for="arrival")
            | прибытие
            input(class="input-calendar input_hover", 
                id="arrival", 
                type="text", 
                name="arrival", 
                placeholder="ДД.ММ.ГГГГ", 
                readonly
            )
        label(class="label", for="departure")
            | выезд
            input(class="input-calendar input_hover", 
                id="departure", 
                type="text", 
                name="departure", 
                placeholder="ДД.ММ.ГГГГ", 
                readonly
            )
        div(class="calendar calendar_off", id="calendar")
            div(class="calendar__header", id="calendar-head")
            span(class="calendar__arrow arrow-left", data-arrow="left") 
            span(class="calendar__arrow arrow-right", data-arrow="right")
            table(class="calendar__table")
                tbody(class="calendar__body", id="calendar-body")
            div(class="calendar__buttons buttons")
                button(class="button-pick button-clear", type="button", data-button="cleare-pick") 
                    | Очистить
                button(class="button-pick button-apply", type="button" data-button="apply-pick") 
                    | Применить