mixin input(label, type, id, pls, textLabel)
    if label == true
        label(class=`label`, for=`${id}`)
            | #{textLabel}
        input(
            class=`input input-geometry`, 
            id=`${id}`, 
            type=`${type}`
            placeholder=`${pls}`,
        )
    if label == false
        input(
            class=`input input-geometry`, 
            id=`${id}`,
            type=`${type}`
            placeholder=`${pls}`
        )

mixin inputRadio()
    label(for="male") Мужчина
    input(type="radio", id="male", name="sex")
    label(for="female") Женщина
    input(type="radio", id="female", name="sex")